#calculator {
    font-family: Arial, Helvetica, sans-serif;
    background-color: hsl(0, 0%, 15%);
    border-radius: 15px;
    max-width: 500px;
    overflow: hidden;
    margin: 0 auto; /* Ortalamak için */
}

#display {
    width: 100%;
    padding: 20px;
    font-size: 3rem; /* Font boyutunu biraz küçülttüm */
    text-align: left; /* Hesap makinesi ekranında sayılar genelde sağa hizalanır */
    border: none;
    color: white; /* Yazı rengini beyaz yaptım */
    background-color: hsl(0, 0%, 20%); /* Arka plan rengini biraz daha koyu yaptım */
}

#keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 25px;
}

button {
    width: 100%;
    height: 100px; /* Yüksekliği 100px yaptım */
    border-radius: 50px;
    border: none;
    background-color: hsl(0, 0%, 30%);
    color: white;
    font-size: 2rem; /* Font boyutunu biraz küçülttüm */
    font-weight: bold;
    cursor: pointer;
}

button:hover{
    background-color: hsl(0, 0%, 40%);
}
button:active{
    background-color: hsl(0, 0%, 50%);
}
.operator-btn{
    background-color: hsl(35,100%, 55%);
}
.operator-btn:hover{
    background-color: hsl(35,100%, 65%);
}
.operator-btn:active{
    background-color: hsl(35,100%, 75%);
}